
a.nav{
    display: block;
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    line-height: 100px;
}


a:hover.nav{
    color:rgb(102, 243, 219);
}

a:first-child.nav{
    border-top: 4px solid black;
    margin-top: 100px;

}
a:last-child.nav{
    border-bottom: 4px solid black;
}

nav{
    width: 200px;
    height: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    background-color: rgba(0,0,0,0.75);
    color: aquamarine;
    position: absolute;
}

